In [5]:
import pandas as pd
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
iris = sns.load_dataset('iris')

In [54]:
def check_type(data: pd.DataFrame):
    var_discrete = ['int64','int32','int16','int8','uint64','uint32','uint16','uint8','O','category','bool','timedelta64']
    var_continuous = ['float64','float32','datetime64']

    tmp = pd.DataFrame(data.dtypes)
    tmp.rename(columns={0:'type'}, inplace=True)
    tmp['var_type'] = 0
    for i in range(len(tmp)):
        if tmp['type'][i] in var_continuous:
            tmp['var_type'][i] = 'continuous'
        elif tmp['type'][i] in var_discrete:
            tmp['var_type'][i] = 'discrete'

    tmp.reset_index(drop=False, inplace=True)
    tmp.rename(columns={'index':'col_nm'}, inplace=True)

    return tmp

In [55]:
tmp = check_type(iris)
tmp

         col_nm     type    var_type
0  sepal_length  float64  continuous
1   sepal_width  float64  continuous
2  petal_length  float64  continuous
3   petal_width  float64  continuous
4       species   object    discrete

In [56]:
tmp = check_type(tips)
tmp

       col_nm      type    var_type
0  total_bill   float64  continuous
1         tip   float64  continuous
2         sex  category    discrete
3      smoker  category    discrete
4         day  category    discrete
5        time  category    discrete
6        size     int64    discrete

In [53]:
list(tmp[tmp['var_type']=='continuous']['col_nm'].values)

['total_bill', 'tip']

In [ ]:
var_discrete = ['int64','int32','int16','int8','uint64','uint32','uint16','uint8','O','category','bool','timedelta64']
var_continuous = ['float64','float32','datetime64']

In [ ]:
['Circular', 'Min2Max', 'Radar', 'Wordcloud', 'area_stack', 
 'beartype', 'chord', 'density_split', 
 'donut',  'histo_split', 'histogram_four', 'initialize', 
 'kde2D', 'make_color', 'mixed', 'mosaic_',  
 'pie', 'pydeck_connection', 'pydeck_count', 'pydeck_distribution', 
 'ridgeline', 'venn_', 'violin', 'violin_split']

In [ ]:
"""
'Density' 
x : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'

'kde2D'
x : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
y : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'

'bubble'
x : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
y : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
category : 'O','category'
size : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'

'connected_scatter'
x : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
y : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'

'pairplot'
category : 'O','category'
target : 'O','category'

'heatmap'
x : 'O','category'
y : 'O','category'
target : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'

'scatter'
x : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
y : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
radi : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
color : 'bool'

'jointplot'
x : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
y : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'

'violin'
x : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
y : 'O','category'

'violin_split'
x : 'O','category'
y : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
hue : 'O','category'
number : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8'

'histo_split'
x : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
y : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'

'density_split'
x : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
y : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'


'histogram_four'
x : 'O','category'
y : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'


'ridgeline'

'area_stack'
perc : 'bool'


'chord'
dataset's col_names : ['source','target','value','name','group']

'pydeck_count'
x : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'

'pydeck_distribution'
center : list(longitude, latitude)


'pydeck_connection'
dataset_01 : A -> B one-side
dataset_02 : B -> A one-side

dataset's col_names : ['start_id', 'end_id', 'start_lng', 'start_lat', 'end_lng', 'end_lat']

'pie'
x : 'O','category'
y : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'

'donut'
x : 'O','category'
y : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'

'venn_'
x : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8'

'mosaic_'

'mixed'
box : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
line : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'

'circular'
target : 'O','category'
value : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
group : 'O','category'

'min2max'
min_ : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
max_ : 'int64','int32','int16','int8','uint64','uint32','uint16','uint8','float64','float32'
target : 

'radar'
drop : group col_nm

ex)
df = pd.DataFrame({
'group': ['A','B','C','D'],
'var1': [38, 1.5, 30, 4],
'var2': [29, 10, 9, 34],
'var3': [8, 39, 23, 24],
'var4': [7, 31, 33, 14],
'var5': [28, 15, 32, 14]
})


'wordcloud'
text : sentence
img_path : image path


"""