In [5]:
import pandas as pd
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
iris = sns.load_dataset('iris')

In [68]:
def check_type(data: pd.DataFrame):
    var_int = ['int64','int32','int16','int8','uint64','uint32','uint16','uint8']
    var_float = ['float64','float32']
    var_date = ['datetime64', 'timedelta64']
    var_cate = ['O','category']
    var_bool = ['bool']

    tmp = pd.DataFrame(data.dtypes)
    tmp.rename(columns={0:'type'}, inplace=True)
    tmp['var_type'] = 0
    for i in range(len(tmp)):
        if tmp['type'][i] in var_int:
            tmp['var_type'][i] = 'int'
        elif tmp['type'][i] in var_float:
            tmp['var_type'][i] = 'float'
        elif tmp['type'][i] in var_date:
            tmp['var_type'][i] = 'date'
        elif tmp['type'][i] in var_cate:
            tmp['var_type'][i] = 'category'
        elif tmp['type'][i] in var_bool:
            tmp['var_type'][i] = 'bool'

    tmp.reset_index(drop=False, inplace=True)
    tmp.rename(columns={'index':'col_nm'}, inplace=True)

    return tmp

In [73]:
tmp = check_type(tips)

In [75]:
list(tmp[tmp['var_type']=='int']['col_nm'].values)

['size']

In [76]:
tmp

       col_nm      type  var_type
0  total_bill   float64     float
1         tip   float64     float
2         sex  category  category
3      smoker  category  category
4         day  category  category
5        time  category  category
6        size     int64       int

In [ ]:
"""
'Density' 
x : 'int', 'float'

'kde2D'
x : 'int', 'float'
y : 'int', 'float'

'bubble'
x : 'int', 'float'
y : 'int', 'float'
category : 'O','category'
size : 'int', 'float'

'connected_scatter'
x : 'int', 'float'
y : 'int', 'float'

'pairplot'
category : 'O','category'
target : 'O','category'

'heatmap'
x : 'O','category'
y : 'O','category'
target : 'int', 'float'

'scatter'
x : 'int', 'float'
y : 'int', 'float'
radi : 'int','float'
color : 'bool'

'jointplot'
x : 'int','float'
y : 'int','float'

'violin'
x : 'int','float'
y : 'O','category'

'violin_split'
x : 'O','category'
y : 'int','float'
hue : 'O','category'
number : 'int'

'histo_split'
x : 'int','float'
y : 'int','float'

'density_split'
x : 'int','float'
y : 'int','float'


'histogram_four'
x : 'O','category'
y : 'int','float'

'area_stack'
perc : 'bool'

'chord'
dataset's col_names : ['source','target','value','name','group']

'pydeck_count'
x : 'int','float'

'pydeck_distribution'
center : list(longitude, latitude)

'pydeck_connection'
dataset_01 : A -> B one-side
dataset_02 : B -> A one-side

dataset's col_names : ['start_id', 'end_id', 'start_lng', 'start_lat', 'end_lng', 'end_lat']

'pie'
x : 'O','category'
y : 'int','float'

'donut'
x : 'O','category'
y : 'int','float'

'venn_'
x : 'int'

'mixed'
box : 'int','float'
line : 'int','float'

'circular'
target : 'O','category'
value : 'int','float'
group : 'O','category'

'min2max'
min_ : 'int','float'
max_ : 'int','float'
target : 

'radar'
drop : group col_nm

ex)
df = pd.DataFrame({
'group': ['A','B','C','D'],
'var1': [38, 1.5, 30, 4],
'var2': [29, 10, 9, 34],
'var3': [8, 39, 23, 24],
'var4': [7, 31, 33, 14],
'var5': [28, 15, 32, 14]
})


'wordcloud'
text : sentence
img_path : image path

'mosaic_'
'ridgeline'
"""