In [43]:
import pandas as pd
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')
iris = sns.load_dataset('iris')
tips = sns.load_dataset('tips')

In [41]:
def check_type(data: pd.DataFrame):
    var_int = ['int64','int32','int16','int8','uint64','uint32','uint16','uint8']
    var_float = ['float64','float32']
    var_date = ['datetime64', 'timedelta64']
    var_cate = ['O','category']
    var_bool = ['bool']

    tmp = pd.DataFrame(data.dtypes)
    tmp.rename(columns={0:'type'}, inplace=True)
    tmp['var_type'] = 0
    for i in range(len(tmp)):
        if tmp['type'][i] in var_int:
            tmp['var_type'][i] = 'int'
        elif tmp['type'][i] in var_float:
            tmp['var_type'][i] = 'float'
        elif tmp['type'][i] in var_date:
            tmp['var_type'][i] = 'date'
        elif tmp['type'][i] in var_cate:
            tmp['var_type'][i] = 'category'
        elif tmp['type'][i] in var_bool:
            tmp['var_type'][i] = 'bool'

    tmp.reset_index(drop=False, inplace=True)
    tmp.rename(columns={'index':'col_nm'}, inplace=True)

    return tmp

In [44]:
tmp = check_type(tips)

In [ ]:
list(tmp[tmp['var_type']=='int']['col_nm'].values)

['size']

In [45]:
tmp

       col_nm      type  var_type
0  total_bill   float64     float
1         tip   float64     float
2         sex  category  category
3      smoker  category  category
4         day  category  category
5        time  category  category
6        size     int64       int

In [51]:
num_list = list(tmp[(tmp['var_type']=='int') | (tmp['var_type']=='float')]['col_nm'].values)
cat_list = list(tmp[tmp['var_type']=='category']['col_nm'].values)

In [102]:
cat_list

['sex', 'smoker', 'day', 'time']

In [2]:
viz_params_type = {'density' : {'x':'num'},
                   'kde2D' : {'x':'num','y':'num'},
                   'bubble' : {'x':'num','y':'num','category':'category','size':'num'},
                   'connected_scatter' : {'x':'num','y':'num'},
                   'pairplot' : {'category':'category','target':'category'},
                   'heatmap' : {'x':'category','y':'category','target':'num'},
                   'scatter' : {'x':'num','y':'num', 'radi':'num'},
                   'jointplot' : {'x':'num','y':'num'},
                   'violin' : {'x':'num','y':'category'},
                   'violin_split' : {'x':'category','y':'num','hue':'category'},
                   'histo_split' : {'x':'num','y':'num'},
                   'density_split' : {'x':'num','y':'num'},
                   'histogram_four' : {'x':'category','y':'num'},
                   'pie' : {'x':'category','y':'num'},
                   'donut' : {'x':'category','y':'num'},
                   'mixed' : {'box':'num','line':'num'},
                   'circular' : {'target':'category','value':'num','group':'category'},
                   'min2max' : {'min_':'num','max_':'num','target':'category'}}

In [18]:
print(list(viz_params_type.keys())[0])
print(viz_params_type[list(viz_params_type.keys())[0]])
print(list(viz_params_type.keys())[1])
print(viz_params_type[list(viz_params_type.keys())[1]])

density
{'x': 'num'}
kde2D
{'x': 'num', 'y': 'num'}

In [19]:
tmp_viz = list(viz_params_type.keys())[0]

In [21]:
tmp_viz_params = list(viz_params_type[tmp_viz].keys())[0]

In [48]:
tmp_viz_params

'target'

In [24]:
viz_params_type[tmp_viz][tmp_viz_params]

'num'

In [52]:
print(num_list)
print(cat_list)

['total_bill', 'tip', 'size']
['sex', 'smoker', 'day', 'time']

In [67]:
for i in range(len(viz_params_type)):
    tmp_viz = list(viz_params_type.keys())[i]
    
    num_list = list(tmp[(tmp['var_type']=='int') | (tmp['var_type']=='float')]['col_nm'].values)
    cat_list = list(tmp[tmp['var_type']=='category']['col_nm'].values)
    
    param_list = {}

    for j in range(len(viz_params_type[tmp_viz])):
        tmp_viz_params = list(viz_params_type[tmp_viz].keys())[j]

        if viz_params_type[tmp_viz][tmp_viz_params] == 'num':
            param_list[tmp_viz_params] = num_list[0]
            num_list.remove(num_list[0])

        elif viz_params_type[tmp_viz][tmp_viz_params] == 'category':
            param_list[tmp_viz_params] = cat_list[0]
            cat_list.remove(cat_list[0])
        else:
            pass
            
    try:
        tmp_viz(**param_list)
    except:
        pass

{'x': 'total_bill'}
{'x': 'total_bill', 'y': 'tip'}
{'x': 'total_bill', 'y': 'tip', 'category': 'sex', 'size': 'size'}
{'x': 'total_bill', 'y': 'tip'}
{'category': 'sex', 'target': 'smoker'}
{'x': 'sex', 'y': 'smoker', 'target': 'total_bill'}
{'x': 'total_bill', 'y': 'tip', 'radi': 'size'}
{'x': 'total_bill', 'y': 'tip'}
{'x': 'total_bill', 'y': 'sex'}
{'x': 'sex', 'y': 'total_bill', 'hue': 'smoker'}
{'x': 'total_bill', 'y': 'tip'}
{'x': 'total_bill', 'y': 'tip'}
{'x': 'sex', 'y': 'total_bill'}
{'x': 'sex', 'y': 'total_bill'}
{'x': 'sex', 'y': 'total_bill'}
{'box': 'total_bill', 'line': 'tip'}
{'target': 'sex', 'value': 'total_bill', 'group': 'smoker'}
{'min_': 'total_bill', 'max_': 'tip', 'target': 'sex'}

In [71]:
list(viz_params_type.keys())

['density',
 'kde2D',
 'bubble',
 'connected_scatter',
 'pairplot',
 'heatmap',
 'scatter',
 'jointplot',
 'violin',
 'violin_split',
 'histo_split',
 'density_split',
 'histogram_four',
 'pie',
 'donut',
 'mixed',
 'circular',
 'min2max']

In [ ]:
'chord', 'area_stack', 'pydeck_count', 'pydeck_distribution', 'pydeck_connection', 'venn_', 'radar', 'wordcloud', 'mosaic_', 'ridgeline'

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [ ]:
plt.hist()

In [ ]:
pd.DataFrame.hist()

In [ ]:
sns.histplot(pa)

In [ ]:
"""
'density' 
x : 'int', 'float'

'kde2D'
x : 'int', 'float'
y : 'int', 'float'

'bubble'
x : 'int', 'float'
y : 'int', 'float'
category : 'O','category'
size : 'int', 'float'

'connected_scatter'
x : 'int', 'float'
y : 'int', 'float'

'pairplot'
category : 'O','category'
target : 'O','category'

'heatmap'
x : 'O','category'
y : 'O','category'
target : 'int', 'float'

'scatter'
x : 'int', 'float'
y : 'int', 'float'
radi : 'int','float'
color : 'bool'

'jointplot'
x : 'int','float'
y : 'int','float'

'violin'
x : 'int','float'
y : 'O','category'

'violin_split'
x : 'O','category'
y : 'int','float'
hue : 'O','category'
number : 'int'

'histo_split'
x : 'int','float'
y : 'int','float'

'density_split'
x : 'int','float'
y : 'int','float'


'histogram_four'
x : 'O','category'
y : 'int','float'

'area_stack'
perc : 'bool'

'chord'
dataset's col_names : ['source','target','value','name','group']

'pydeck_count'
x : 'int','float'

'pydeck_distribution'
center : list(longitude, latitude)

'pydeck_connection'
dataset_01 : A -> B one-side
dataset_02 : B -> A one-side

dataset's col_names : ['start_id', 'end_id', 'start_lng', 'start_lat', 'end_lng', 'end_lat']

'pie'
x : 'O','category'
y : 'int','float'

'donut'
x : 'O','category'
y : 'int','float'

'venn_'
x : 'int'

'mixed'
box : 'int','float'
line : 'int','float'

'circular'
target : 'O','category'
value : 'int','float'
group : 'O','category'

'min2max'
min_ : 'int','float'
max_ : 'int','float'
target : 

'radar'
drop : group col_nm

ex)
df = pd.DataFrame({
'group': ['A','B','C','D'],
'var1': [38, 1.5, 30, 4],
'var2': [29, 10, 9, 34],
'var3': [8, 39, 23, 24],
'var4': [7, 31, 33, 14],
'var5': [28, 15, 32, 14]
})


'wordcloud'
text : sentence
img_path : image path

'mosaic_'
'ridgeline'
"""